<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>

    </connectionStrings>
  <packageRestore>
    <!-- The 'enabled' key is True when the "Allow NuGet to download missing packages" checkbox is set.
             Clearing the box sets this to False, disabling command-line, automatic, and MSBuild-Integrated restore. -->
    <add key="enabled" value="True" />
  </packageRestore>
</configuration>
